{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "NoExtraBucketsYet",
      "Effect": "Deny",
      "Action": "s3:*",
      "Resource": "arn:aws:s3:::__no-extra-buckets-configured__"
    }
  ]
}
